@page "/DetailsClientes/{ClienteID:int}";

@inject HttpClient httpClient
@inject NavigationManager NavigationManager

<div class="card shadow-lg border-0 rounded" style="background-color: #f8f9fa;">
    <div class="card-header bg-primary text-white text-center py-2 rounded">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Detalles del Cliente</h3>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label ">Nombres:</label>
                <span>@Clientes.NombreCliente</span>
            </div>

            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label">RNC:</label>
                <span>@Clientes.RNCCliente</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label">Teléfono:</label>
                <span>@Clientes.TelefonoCliente</span>
            </div>

            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label">Celular:</label>
                <span>@Clientes.CelularCliente</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label">Email:</label>
                <span>@Clientes.EmailCliente</span>
            </div>

            <div class="col-md-6 mb-3">
                <label style="font-weight: bold;" class="form-label">Dirección:</label>
                <span>@Clientes.DireccionCliente</span>
            </div>
        </div>

    </div>

    <div class="card-footer bg-light d-flex justify-content-end">
        <div class="btn-group">
            <a type="button" href="/ClientesIndex/" class="btn btn-outline-danger"><span class="fas fa-arrow-left"></span> Retroceder </a>
        </div>
    </div>
</div>


@code {

    public Clientes Clientes = new Clientes();

    [Parameter]
    public int ClienteID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (ClienteID > 0)
        {
            await Buscar();
        }
    }

    public async Task Buscar()
    {
        var clienteEncontrado = await httpClient.GetFromJsonAsync<Clientes>("api/Clientes/" + ClienteID);
        if (clienteEncontrado != null)
        {
            this.Clientes = clienteEncontrado;
        }
    }
}